.hidden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */
.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.header-address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-accent {
    color: #4D5AE5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        color: #2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;

    }

    .header-address {
        font-style: normal;
        display: block;
    }

    .nav-link:hover,
    .nav-link:focus,
    .address-link:hover,
    .address-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
    width: 100%;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-address {
    width: 100%;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link.color {
    color: #4d5ae5;
}

.footer-social-links {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social-links .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links .footer-social-link:hover,
.footer-social-links .footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-links .footer-icon {
    fill: currentColor;
    display: block;
}

.mobile-menu .footer-social-links {
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}